*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    min-width: 100wh;

}

.container{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 2px solid #cfd8dc;
    border-radius: 10px;
}
.title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.dashboard{
    display: flex;
    gap: 30px;
    margin: 0 auto;
}
.questionContainer{ 
    width: 600px;
    height: 400px;
    margin-top: 30px;
    background-color: #eceff1;
    border-radius: 10px;
    box-shadow: 0 0 10px #b0bec5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card{
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:last-child {
    margin-bottom: 0;
}

.question{
    font-weight: 600;
    font-size: 20px;
    padding: 10px 10px;
}

.options{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option{
    font-size: 20px;
    font-weight: 400;
    border: 2px solid #cfd8dc;
    padding: 5px 20px;
    border-radius: 8px;
    text-transform: capitalize;
}

.option.selected {
    background-color: #a5d6a7;
}

.option:hover{
    background-color: #b0bec5;
    cursor: pointer;
}

.pgContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
}

.pgButtons{
    padding: 5px 30px;
    background-color: #fff;
    border: 2px solid #0d47a1;
    border-radius: 10px;
    cursor: pointer;
    color: #0d47a1;
    font-size: 20px;
}

.pgButtons:hover{
    background-color: #0d47a1;
    color: #fff;
}
/*
.correct{
    background-color: #a5d6a7;
}

.wrong{
    background-color: #ef9a9a;
}
*/

.scoreBoard{
    width: 500px;
    background-color: #eceff1;
    border-radius: 10px;
    box-shadow: 0 0 10px #b0bec5;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
}

.boards{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.totalQuestions h2,
.correctAnswers h2,
.status h2,
.wrongAnswers h2{
    font-size: 30px;
    font-weight: 400;
}

.totalQuestions h3,
.correctAnswers h3,
.status h3,
.wrongAnswers h3 {
    font-size: 36px;
    font-weight: 600;
}

.totalQuestions{
    border: 6px solid #0056b3;
}
.correctAnswers {
    border: 6px solid #28a745;
}
.status{
    border: 6px solid #ffc107;
}
.wrongAnswers {
    border: 6px solid #dc3545;
}

#total{
    color: #007bff;
}

#status{
    color: #e0a800;
}

#correct{
    color: #218838;
}

#wrong{
    color: #bd2130;
}
